<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>My cool to-do app(le)</h1>
<img src="/static/images/apple.jpg" alt="apple",  style="width: 100px"/>
<br>
{% if user.is_authenticated %}
    Welcome, {{ user.username }}!
{% else %}
    Welcome, Guest!
{% endif %}
{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sign Out" style="">
    </form>
{% endif %}

<h2>List of tasks:</h2>
<ul>
    {% for task in tasks %}
       <li>
           {{ task.description }}
           {% if task.completed %}
              (Done)
           {% endif %}
           <br>
            <img src="{{ task.image.url }}" alt="Task image" style="width: 100px">
       </li>
    {% endfor %}
</ul>

<form method="post" action="{% url 'create_task' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Task</button>
</form>

</body>
</html>